openapi: 3.0.3
info:
  title: SynthStack Backend API
  version: v2.13.0+18304
  contact:
    name: SynthStack
    url: https://synthstack.ai
  description: |
    Centralized OpenAPI specification generated from module-level path fragments.
    Do not edit this file manually in runtime environments.
servers:
  - url: https://api.synthstack.ai/v2
    description: Production environment
security:
  - bearerAuth: []
tags:
  - name: Account Settings
    description: Account Settings operations.
  - name: Agent
    description: Agent operations.
  - name: Ai Assist
    description: Ai Assist operations.
  - name: Auth
    description: Auth operations.
  - name: Automation
    description: Automation operations.
  - name: Billing
    description: Billing operations.
  - name: Feedback
    description: Feedback operations.
  - name: Integrations
    description: Integrations operations.
  - name: Notifications
    description: Notifications operations.
  - name: Oauth Server
    description: Oauth Server operations.
  - name: Projects
    description: Projects operations.
  - name: Skills
    description: Skills operations.
  - name: Tasks
    description: Tasks operations.
  - name: Team
    description: Team operations.
  - name: Templates
    description: Templates operations.
  - name: Tenant
    description: Tenant operations.
  - name: Tenant Insights
    description: Tenant Insights operations.
paths:
  /account/settings:
    get:
      summary: Get account settings
      description: Return the current user's effective audio and notification settings merged with defaults. Does not create a database row when only defaults exist.
      operationId: accountSettingsGet
      responses:
        '200':
          description: Effective account settings document
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/AccountSettingsResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Account Settings
    patch:
      summary: Update account settings
      description: Apply JSON Merge Patch (RFC 7386) to the current user's audio and notification overrides, then return the full effective document.
      operationId: accountSettingsUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSettingsUpdateRequestBody'
            example:
              notifications:
                types:
                  sync_completed: null
                delivery:
                  toasts: null
      responses:
        '200':
          description: Updated effective account settings document
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/AccountSettingsResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Account Settings
  /agents/{agentId}/skills:
    get:
      summary: List skills attached to an agent
      operationId: listAgentSkills
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Attached skills
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentSkillListResponseData'
                    required:
                      - data
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '503':
          $ref: '#/components/responses/AgentSkillUnavailable'
      tags:
        - Agent
      description: List skills attached to an agent
    post:
      summary: Attach skills to an agent atomically
      operationId: attachAgentSkills
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skill_ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/SkillId'
              required:
                - skill_ids
      responses:
        '200':
          description: Agent skills updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentSkillAttachResponseData'
                    required:
                      - data
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentOrSkillNotFound'
        '409':
          $ref: '#/components/responses/AgentSkillConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '503':
          $ref: '#/components/responses/AgentSkillUnavailable'
      tags:
        - Agent
      description: Attach skills to an agent atomically
  /agents/{agentId}/skills/{skillId}:
    delete:
      summary: Detach a skill from an agent
      operationId: detachAgentSkill
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/AgentSkillIdPath'
      responses:
        '204':
          description: Skill detached
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentOrSkillNotFound'
      tags:
        - Agent
      description: Detach a skill from an agent
  /agents/{agentId}/skills/{skillId}/download:
    get:
      summary: Issue an agent-scoped skill download URL
      operationId: downloadAgentSkill
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/AgentSkillIdPath'
      responses:
        '200':
          description: Presigned skill download
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentSkillDownloadResponseData'
                    required:
                      - data
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentOrSkillNotFound'
        '503':
          $ref: '#/components/responses/AgentSkillUnavailable'
      tags:
        - Agent
      description: Issue an agent-scoped skill download URL
  /engines:
    get:
      summary: List AI engines
      description: Get available AI engines.
      operationId: agentEngineList
      responses:
        '200':
          description: List of engines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
      tags:
        - Agent
  /engines/{engineId}/models:
    get:
      summary: List models for engine
      description: Get available models for one AI engine.
      operationId: agentEngineModelsList
      parameters:
        - $ref: '#/components/parameters/EngineIdPath'
      responses:
        '200':
          description: List of engine models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineModelListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
  /models:
    get:
      summary: List all models
      description: Get all available AI models across engines.
      operationId: agentModelsListAll
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
      tags:
        - Agent
  /roles:
    get:
      summary: List active roles
      description: Get active public agent roles.
      operationId: agentRolesList
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolePublicListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
      tags:
        - Agent
  /agents:
    get:
      summary: List agents
      description: Get paginated tenant agents.
      operationId: agentList
      parameters:
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/PerPageQuery'
        - name: search
          in: query
          required: false
          description: Case-insensitive match against agent `name` and `display_name`.
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - disabled
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum:
              - custom
              - marketplace
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - name
              - created_at
              - status
            default: created_at
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
    post:
      summary: Create agent
      description: Create a tenant-owned editable AI agent.
      operationId: agentCreate
      requestBody:
        $ref: '#/components/requestBodies/AgentCreateRequest'
      responses:
        '201':
          description: Agent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
  /agents/stats:
    get:
      summary: Get agent stats
      description: Get aggregate agent counters for the current tenant.
      operationId: agentStats
      responses:
        '200':
          description: Agent counters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStatsResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
      tags:
        - Agent
  /agents/{id}:
    get:
      summary: Get agent
      description: Get tenant agent details by ID.
      operationId: agentGet
      parameters:
        - $ref: '#/components/parameters/AgentIdAsIdPath'
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
    patch:
      summary: Update agent
      description: Update an editable tenant agent.
      operationId: agentUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdAsIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentUpdateRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
    delete:
      summary: Delete agent
      description: Remove tenant mapping and delete editable agent data when no tenants remain.
      operationId: agentDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdAsIdPath'
      responses:
        '204':
          description: Agent deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
  /agents/{id}/clone:
    post:
      summary: Clone agent
      description: Clone an existing editable agent with configuration.
      operationId: agentClone
      parameters:
        - $ref: '#/components/parameters/AgentIdAsIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentCloneRequest'
      responses:
        '201':
          description: Agent cloned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
  /agents/{agentId}/projects:
    get:
      summary: List agent projects
      description: Get projects assigned to an agent.
      operationId: agentProjectsList
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProjectsResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          description: DEPENDENCY_CONFIGURATION_ERROR, DEPENDENCY_CONTRACT_VIOLATION or DEPENDENCY_FAILED. Project resolution can propagate dependency errors from projects; details[].source/operation are supplied by projects (tasks / taskService.activeCountByProject or tenant access lookup).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: DEPENDENCY_UNAVAILABLE. Project resolution can propagate dependency errors from projects; details[].source/operation are supplied by projects (tasks / taskService.activeCountByProject or tenant access lookup).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Agent
  /agents/{agentId}/profile:
    get:
      summary: Get agent profile
      description: Get agent-level profile configuration.
      operationId: agentProfileGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Agent profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
    put:
      summary: Set agent profile
      description: Set agent-level profile configuration.
      operationId: agentProfileSet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentProfileRequest'
      responses:
        '200':
          description: Profile saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
    patch:
      summary: Patch agent profile
      description: Partially update agent-level profile configuration using JSON Merge Patch semantics. Null values remove fields.
      operationId: agentProfilePatch
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentProfilePatchRequest'
      responses:
        '200':
          description: Profile patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
    delete:
      summary: Delete agent profile
      description: Delete agent-level profile configuration.
      operationId: agentProfileDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '204':
          description: Profile deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
  /agents/{agentId}/profile/effective:
    get:
      summary: Get effective agent profile
      description: |
        Resolve the runtime profile for an agent from engine defaults, agent overrides,
        and tenant-agent overrides. Returns the effective value, raw layer inputs, and
        the winning source layer for every profile leaf.
      operationId: agentProfileEffectiveGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Effective agent profile with inheritance metadata
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/AgentEffectiveProfileResponseData'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
  /agents/{agentId}/tenant/profile:
    get:
      summary: Get tenant-agent profile
      description: Get tenant-agent profile override.
      operationId: agentTenantAgentProfileGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Tenant-agent profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
    put:
      summary: Set tenant-agent profile
      operationId: agentTenantAgentProfileSet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentProfileRequest'
      responses:
        '200':
          description: Profile saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Set tenant-agent profile
    patch:
      summary: Patch tenant-agent profile
      description: Partially update tenant-agent profile override using JSON Merge Patch semantics. Null values remove fields.
      operationId: agentTenantAgentProfilePatch
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentProfilePatchRequest'
      responses:
        '200':
          description: Profile patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
    delete:
      summary: Delete tenant-agent profile
      operationId: agentTenantAgentProfileDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '204':
          description: Profile deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete tenant-agent profile
  /projects/{projectId}/agents/{agentId}/profile:
    get:
      summary: Get project-agent profile
      description: Get project assignment-level profile override.
      operationId: projectAgentProfileGet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Project-agent profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
    put:
      summary: Set project-agent profile
      operationId: projectAgentProfileSet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentProfileRequest'
      responses:
        '200':
          description: Profile saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Set project-agent profile
    patch:
      summary: Patch project-agent profile
      description: Partially update project assignment-level profile override using JSON Merge Patch semantics. Null values remove fields.
      operationId: projectAgentProfilePatch
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/AgentProfilePatchRequest'
      responses:
        '200':
          description: Profile patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
    delete:
      summary: Delete project-agent profile
      operationId: projectAgentProfileDelete
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '204':
          description: Profile deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Delete project-agent profile
  /projects/{projectId}/agents/{agentId}/profile/effective:
    get:
      summary: Get effective project-agent profile
      description: |
        Resolve the runtime profile for a project assignment from engine defaults,
        project, agent, tenant-agent, and project-assignment layers. Returns the
        effective value, normalized raw layer inputs, and the winning source layer
        for every profile leaf.
      operationId: projectAgentProfileEffectiveGet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Effective project-agent profile with inheritance metadata
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/ProjectAgentEffectiveProfileResponseData'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
  /agents/{agentId}/prompts:
    get:
      summary: Get agent prompts
      operationId: agentPromptsGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Agent prompts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get agent prompts
    post:
      summary: Create agent prompt
      operationId: agentPromptCreate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/PromptCreateRequest'
      responses:
        '201':
          description: Prompt created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Create agent prompt
  /agents/{agentId}/prompts/{promptId}:
    patch:
      summary: Update agent prompt
      operationId: agentPromptUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/PromptIdPath'
      requestBody:
        $ref: '#/components/requestBodies/PromptUpdateRequest'
      responses:
        '200':
          description: Prompt updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Update agent prompt
    delete:
      summary: Delete agent prompt
      operationId: agentPromptDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/PromptIdPath'
      responses:
        '204':
          description: Prompt deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete agent prompt
  /agents/{agentId}/tenant/prompts:
    get:
      summary: Get tenant-agent prompts
      operationId: agentTenantAgentPromptsGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Tenant-agent prompts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get tenant-agent prompts
    post:
      summary: Create tenant-agent prompt
      operationId: agentTenantAgentPromptCreate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/PromptCreateRequest'
      responses:
        '201':
          description: Prompt created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Create tenant-agent prompt
  /agents/{agentId}/tenant/prompts/{promptId}:
    patch:
      summary: Update tenant-agent prompt
      operationId: agentTenantAgentPromptUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/PromptIdPath'
      requestBody:
        $ref: '#/components/requestBodies/PromptUpdateRequest'
      responses:
        '200':
          description: Prompt updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Update tenant-agent prompt
    delete:
      summary: Delete tenant-agent prompt
      operationId: agentTenantAgentPromptDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/PromptIdPath'
      responses:
        '204':
          description: Prompt deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete tenant-agent prompt
  /projects/{projectId}/agents/{agentId}/prompts:
    get:
      summary: Get project-agent prompts
      operationId: projectAgentPromptsGet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Project-agent prompts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Get project-agent prompts
    post:
      summary: Create project-agent prompt
      operationId: projectAgentPromptCreate
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/PromptCreateRequest'
      responses:
        '201':
          description: Prompt created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Create project-agent prompt
  /projects/{projectId}/agents/{agentId}/prompts/{promptId}:
    patch:
      summary: Update project-agent prompt
      operationId: projectAgentPromptUpdate
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/PromptIdPath'
      requestBody:
        $ref: '#/components/requestBodies/PromptUpdateRequest'
      responses:
        '200':
          description: Prompt updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Update project-agent prompt
    delete:
      summary: Delete project-agent prompt
      operationId: projectAgentPromptDelete
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/PromptIdPath'
      responses:
        '204':
          description: Prompt deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Delete project-agent prompt
  /agents/{agentId}/mcp-servers:
    get:
      summary: Get agent MCP servers
      operationId: agentMcpGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: MCP servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get agent MCP servers
    post:
      summary: Add agent MCP server
      operationId: agentMcpAdd
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/McpCreateRequest'
      responses:
        '201':
          description: MCP server added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Add agent MCP server
  /agents/{agentId}/mcp-servers/{mcpId}:
    patch:
      summary: Update agent MCP server
      operationId: agentMcpUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/McpIdPath'
      requestBody:
        $ref: '#/components/requestBodies/McpUpdateRequest'
      responses:
        '200':
          description: MCP server updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Update agent MCP server
    delete:
      summary: Delete agent MCP server
      operationId: agentMcpDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/McpIdPath'
      responses:
        '204':
          description: MCP server deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete agent MCP server
  /agents/{agentId}/tenant/mcp-servers:
    get:
      summary: Get tenant-agent MCP servers
      operationId: agentTenantAgentMcpGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: MCP servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get tenant-agent MCP servers
    post:
      summary: Add tenant-agent MCP server
      operationId: agentTenantAgentMcpAdd
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/McpCreateRequest'
      responses:
        '201':
          description: MCP server added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Add tenant-agent MCP server
  /agents/{agentId}/tenant/mcp-servers/{mcpId}:
    patch:
      summary: Update tenant-agent MCP server
      operationId: agentTenantAgentMcpUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/McpIdPath'
      requestBody:
        $ref: '#/components/requestBodies/McpUpdateRequest'
      responses:
        '200':
          description: MCP server updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Update tenant-agent MCP server
    delete:
      summary: Delete tenant-agent MCP server
      operationId: agentTenantAgentMcpDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/McpIdPath'
      responses:
        '204':
          description: MCP server deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete tenant-agent MCP server
  /projects/{projectId}/agents/{agentId}/mcp-servers:
    get:
      summary: Get project-agent MCP servers
      operationId: projectAgentMcpGet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: MCP servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Get project-agent MCP servers
    post:
      summary: Add project-agent MCP server
      operationId: projectAgentMcpAdd
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/McpCreateRequest'
      responses:
        '201':
          description: MCP server added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Add project-agent MCP server
  /projects/{projectId}/agents/{agentId}/mcp-servers/{mcpId}:
    patch:
      summary: Update project-agent MCP server
      operationId: projectAgentMcpUpdate
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/McpIdPath'
      requestBody:
        $ref: '#/components/requestBodies/McpUpdateRequest'
      responses:
        '200':
          description: MCP server updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Update project-agent MCP server
    delete:
      summary: Delete project-agent MCP server
      operationId: projectAgentMcpDelete
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/McpIdPath'
      responses:
        '204':
          description: MCP server deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Delete project-agent MCP server
  /agents/{agentId}/env-vars:
    get:
      summary: Get agent environment variables
      operationId: agentEnvGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get agent environment variables
    post:
      summary: Create agent environment variable
      operationId: agentEnvCreate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvCreateRequest'
      responses:
        '201':
          description: Environment variable created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Create agent environment variable
    put:
      summary: Replace agent environment variables
      operationId: agentEnvReplace
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvMutationRequest'
      responses:
        '200':
          description: Environment variables replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Replace agent environment variables
  /agents/{agentId}/env-vars/{envId}:
    patch:
      summary: Update agent environment variable
      operationId: agentEnvUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/EnvIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvUpdateRequest'
      responses:
        '200':
          description: Environment variable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Update agent environment variable
    delete:
      summary: Delete agent environment variable
      operationId: agentEnvDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/EnvIdPath'
      responses:
        '204':
          description: Environment variable deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete agent environment variable
  /agents/{agentId}/tenant/env-vars:
    get:
      summary: Get tenant-agent environment variables
      operationId: agentTenantAgentEnvGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get tenant-agent environment variables
    post:
      summary: Create tenant-agent environment variable
      operationId: agentTenantAgentEnvCreate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvCreateRequest'
      responses:
        '201':
          description: Environment variable created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Create tenant-agent environment variable
    put:
      summary: Replace tenant-agent environment variables
      operationId: agentTenantAgentEnvReplace
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvMutationRequest'
      responses:
        '200':
          description: Environment variables replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Replace tenant-agent environment variables
  /agents/{agentId}/tenant/env-vars/{envId}:
    patch:
      summary: Update tenant-agent environment variable
      operationId: agentTenantAgentEnvUpdate
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/EnvIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvUpdateRequest'
      responses:
        '200':
          description: Environment variable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Update tenant-agent environment variable
    delete:
      summary: Delete tenant-agent environment variable
      operationId: agentTenantAgentEnvDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/EnvIdPath'
      responses:
        '204':
          description: Environment variable deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete tenant-agent environment variable
  /projects/{projectId}/agents/{agentId}/env-vars:
    get:
      summary: Get project-agent environment variables
      operationId: projectAgentEnvGet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Get project-agent environment variables
    post:
      summary: Create project-agent environment variable
      operationId: projectAgentEnvCreate
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvCreateRequest'
      responses:
        '201':
          description: Environment variable created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Create project-agent environment variable
    put:
      summary: Replace project-agent environment variables
      operationId: projectAgentEnvReplace
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvMutationRequest'
      responses:
        '200':
          description: Environment variables replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Replace project-agent environment variables
  /projects/{projectId}/agents/{agentId}/env-vars/{envId}:
    patch:
      summary: Update project-agent environment variable
      operationId: projectAgentEnvUpdate
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/EnvIdPath'
      requestBody:
        $ref: '#/components/requestBodies/EnvUpdateRequest'
      responses:
        '200':
          description: Environment variable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Update project-agent environment variable
    delete:
      summary: Delete project-agent environment variable
      operationId: projectAgentEnvDelete
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/EnvIdPath'
      responses:
        '204':
          description: Environment variable deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Delete project-agent environment variable
  /agents/{agentId}/runtime/files:
    get:
      summary: List agent runtime files
      operationId: agentRuntimeFilesList
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Agent files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: List agent runtime files
  /agents/{agentId}/runtime/files/{fileType}:
    get:
      summary: Get agent runtime file
      operationId: agentRuntimeFileGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      responses:
        '200':
          description: Agent file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get agent runtime file
    put:
      summary: Set agent runtime file
      operationId: agentRuntimeFileSet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      requestBody:
        $ref: '#/components/requestBodies/FileSetRequest'
      responses:
        '200':
          description: Agent file saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Set agent runtime file
    delete:
      summary: Delete agent runtime file
      operationId: agentRuntimeFileDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      responses:
        '204':
          description: File deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete agent runtime file
  /agents/{agentId}/tenant/runtime/files:
    get:
      summary: List tenant-agent runtime files
      operationId: agentTenantRuntimeFilesList
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Tenant-agent files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: List tenant-agent runtime files
  /agents/{agentId}/tenant/runtime/files/{fileType}:
    get:
      summary: Get tenant-agent runtime file
      operationId: agentTenantRuntimeFileGet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      responses:
        '200':
          description: Tenant-agent file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Get tenant-agent runtime file
    put:
      summary: Set tenant-agent runtime file
      operationId: agentTenantRuntimeFileSet
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      requestBody:
        $ref: '#/components/requestBodies/FileSetRequest'
      responses:
        '200':
          description: File saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Set tenant-agent runtime file
    delete:
      summary: Delete tenant-agent runtime file
      operationId: agentTenantRuntimeFileDelete
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      responses:
        '204':
          description: File deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
      tags:
        - Agent
      description: Delete tenant-agent runtime file
  /projects/{projectId}/agents/{agentId}/runtime/files:
    get:
      summary: List project-agent runtime files
      operationId: projectAgentRuntimeFilesList
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Project-agent files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: List project-agent runtime files
  /projects/{projectId}/agents/{agentId}/runtime/files/{fileType}:
    get:
      summary: Get project-agent runtime file
      operationId: projectAgentRuntimeFileGet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      responses:
        '200':
          description: Project-agent file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Get project-agent runtime file
    put:
      summary: Set project-agent runtime file
      operationId: projectAgentRuntimeFileSet
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      requestBody:
        $ref: '#/components/requestBodies/FileSetRequest'
      responses:
        '200':
          description: File saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Set project-agent runtime file
    delete:
      summary: Delete project-agent runtime file
      operationId: projectAgentRuntimeFileDelete
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/AgentIdPath'
        - $ref: '#/components/parameters/FileTypePath'
      responses:
        '204':
          description: File deleted
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '500':
          $ref: '#/components/responses/AgentProjectAccessDependencyFailure'
        '503':
          $ref: '#/components/responses/AgentProjectAccessDependencyUnavailable'
      tags:
        - Agent
      description: Delete project-agent runtime file
  /marketplace/agents:
    get:
      summary: List marketplace agents
      operationId: agentMarketplaceList
      parameters:
        - $ref: '#/components/parameters/PageQuery'
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: is_featured
          in: query
          required: false
          schema:
            type: boolean
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - recent
              - popular
        - name: with_usage
          in: query
          required: false
          description: Enriches items with tenant usage when tenant context is available.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Marketplace agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceListResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: List marketplace agents
  /marketplace/agents/{id}:
    get:
      summary: Get marketplace agent
      operationId: agentMarketplaceGet
      parameters:
        - $ref: '#/components/parameters/MarketplaceIdAsIdPath'
        - name: with_usage
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Marketplace agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceDetailResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Get marketplace agent
  /marketplace/agents/{id}/use:
    post:
      summary: Use marketplace template
      operationId: agentMarketplaceUse
      parameters:
        - $ref: '#/components/parameters/MarketplaceIdAsIdPath'
      requestBody:
        $ref: '#/components/requestBodies/MarketplaceUseRequest'
      responses:
        '200':
          description: Template connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceUseResponse'
        '401':
          $ref: '#/components/responses/AgentUnauthorized'
        '403':
          $ref: '#/components/responses/AgentForbidden'
        '404':
          $ref: '#/components/responses/AgentNotFound'
        '409':
          $ref: '#/components/responses/AgentConflict'
        '422':
          $ref: '#/components/responses/AgentValidationError'
      tags:
        - Agent
      description: Use marketplace template
  /ai/transcriptions:
    post:
      summary: Transcribe audio
      description: Validate and enqueue an audio transcription. The result is delivered asynchronously as `ai.assist.completed` or `ai.assist.failed` through the user's consoleRealtime notify channel.
      operationId: aiAssistCreateTranscription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AiAssistTranscriptionRequestBody'
      responses:
        '202':
          description: Transcription accepted and queued
          headers:
            X-RateLimit-Limit:
              description: Configured requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/AiAssistQueuedResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '413':
          description: Uploaded file is too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds until the current rate-limit window resets.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Limit:
              description: Configured requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: Transient AI input storage is unavailable; no job was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Ai Assist
  /ai/text-actions/rewrite:
    post:
      summary: Rewrite Markdown text
      description: Validate and enqueue an AI text action. The result is delivered asynchronously as `ai.assist.completed` or `ai.assist.failed` through the user's consoleRealtime notify channel.
      operationId: aiAssistRewriteText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAssistTextRewriteRequestBody'
            example:
              text: Please **fix** this message.
              action: improve_writing
      responses:
        '202':
          description: Text action accepted and queued
          headers:
            X-RateLimit-Limit:
              description: Configured requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/AiAssistQueuedResponseData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds until the current rate-limit window resets.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Limit:
              description: Configured requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Ai Assist
  /auth/login:
    post:
      summary: Login
      description: Authenticate with email/password. Returns JWT tokens, or a short-lived TOTP challenge when 2FA is enabled. Password and account checks precede tenant membership lookup. A tenant dependency failure issues no session. Confirmed absence of membership issues JWT without tid or role. Tenant errors expose only details[].source=tenant and details[].operation=tenantService.getByUserId; technical context and debug are omitted.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 255
                  example: user@example.com
                password:
                  type: string
                  minLength: 8
                  maxLength: 128
                  example: password123
                remember_me:
                  type: boolean
                  example: true
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        oneOf:
                          - $ref: '#/components/schemas/AuthLoginResponseData'
                          - $ref: '#/components/schemas/AuthTwoFactorChallengeResponseData'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '403':
          description: Account disabled or pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '500':
          description: Tenant port configuration, response contract or invocation failed (DEPENDENCY_CONFIGURATION_ERROR, DEPENDENCY_CONTRACT_VIOLATION, DEPENDENCY_FAILED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: Tenant membership is temporarily unavailable (DEPENDENCY_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Auth
      operationId: post_auth_login
  /auth/2fa/verify:
    post:
      summary: Complete password login with a TOTP code
      description: After the live challenge and per-user lockout checks, tenant membership is resolved outside the database transaction, before TOTP code verification. Account, challenge, credential, code and replay checks run under lock before consumption and session issuance. A tenant dependency failure preserves the challenge and is not counted as an invalid factor. Tenant errors expose only details[].source=tenant and details[].operation=tenantService.getByUserId; technical context and debug are omitted. If failure registration in rateLimit fails after an invalid code, the challenge attempt count and exhaustion state are committed before returning 503 RATE_LIMIT_UNAVAILABLE; no session is issued. An unexpected failure in the local failure hook also preserves the challenge writes but returns 500 TWOFA_INTERNAL_ERROR after commit, without issuing a session. A commit failure rolls back the transaction and takes precedence over the registration error. When only failure registration is unavailable, a valid code can still succeed on a live challenge; the database attempt limit, per-IP rate limit and challenge TTL continue to apply.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                challenge_token:
                  type: string
                  minLength: 32
                  maxLength: 128
                  pattern: ^[A-Za-z0-9_-]{32,128}$
                code:
                  $ref: '#/components/schemas/AuthTotpCode'
              required:
                - challenge_token
                - code
      responses:
        '200':
          description: TOTP verified and JWT pair issued
          headers:
            X-RateLimit-Limit:
              description: Configured per-IP requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Per-IP requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthLoginResponseData'
                    required:
                      - data
        '401':
          description: Challenge or code is invalid, including code replay
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '403':
          description: Account became disabled (ACCOUNT_DISABLED) or pending (ACCOUNT_PENDING) between authentication steps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '429':
          description: Per-IP limit (RATE_LIMIT_EXCEEDED), per-challenge attempts (TWOFA_ATTEMPTS_EXCEEDED), or per-user lockout (TWOFA_LOCKED)
          headers:
            Retry-After:
              description: Seconds until the rate-limit window or user lockout expires. Not present for every per-challenge response.
              schema:
                type: integer
                minimum: 1
                maximum: 3600
            X-RateLimit-Limit:
              description: Per-IP window limit; present for RATE_LIMIT_EXCEEDED.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Remaining per-IP requests; zero when RATE_LIMIT_EXCEEDED.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '500':
          description: TOTP secret decryption or internal 2FA processing failed (TWOFA_INTERNAL_ERROR); Tenant port configuration, response contract or invocation failed (DEPENDENCY_CONFIGURATION_ERROR, DEPENDENCY_CONTRACT_VIOLATION, DEPENDENCY_FAILED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: Tenant membership is temporarily unavailable (DEPENDENCY_UNAVAILABLE); rate limiting, lockout state or failure registration is unavailable (RATE_LIMIT_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Auth
      operationId: post_auth_2fa_verify
  /auth/passkeys/options:
    post:
      summary: Start usernameless passkey login
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              maxProperties: 0
      responses:
        '200':
          description: PublicKeyCredentialRequestOptions for navigator.credentials.get()
          headers:
            X-RateLimit-Limit:
              description: Configured per-IP requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Per-IP requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PasskeyRequestOptionsResponseData'
                    required:
                      - data
        '429':
          description: Per-IP passkey options rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                minimum: 1
                maximum: 60
            X-RateLimit-Limit:
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: Rate limiting is unavailable (RATE_LIMIT_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Auth
      operationId: post_auth_passkeys_options
      description: Start usernameless passkey login
  /auth/passkeys/login:
    post:
      summary: Login with a discoverable passkey
      description: Tenant membership lookup follows assertion verification and credential update. A tenant dependency failure issues no session; the consumed challenge is not restored. Request a new challenge after recovery. Tenant errors expose only details[].source=tenant and details[].operation=tenantService.getByUserId; technical context and debug are omitted.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assertion:
                  $ref: '#/components/schemas/PasskeyAssertion'
                remember_me:
                  type: boolean
                  default: false
              required:
                - assertion
      responses:
        '200':
          description: JWT pair issued through the standard authentication session flow
          headers:
            X-RateLimit-Limit:
              description: Configured per-IP requests per window.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Per-IP requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthLoginResponseData'
                    required:
                      - data
        '401':
          description: Unknown, revoked, replayed, or cryptographically invalid passkey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '403':
          description: Account disabled or pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: Expired challenge or structurally invalid assertion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '429':
          description: Per-IP passkey login rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                minimum: 1
                maximum: 60
            X-RateLimit-Limit:
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '500':
          description: Tenant port configuration, response contract or invocation failed (DEPENDENCY_CONFIGURATION_ERROR, DEPENDENCY_CONTRACT_VIOLATION, DEPENDENCY_FAILED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '503':
          description: Tenant membership is temporarily unavailable (DEPENDENCY_UNAVAILABLE); rate limiting is unavailable (RATE_LIMIT_UNAVAILABLE)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Auth
      operationId: post_auth_passkeys_login
  /auth/logout:
    post:
      summary: Logout
      description: Invalidate refresh token and end user session
      security:
        - bearerAuth: []
      requestBody:
        required: false
        description: Optional refresh token to invalidate. When omitted, the bearer-authenticated request still returns 204.
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  example: refresh_token_value
      responses:
        '204':
          description: Successfully logged out
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
      tags:
        - Auth
      operationId: post_auth_logout
  /auth/refresh:
    post:
      summary: Refresh token
      description: Refresh access token using refresh token (with token rotation). Tenant membership lookup precedes rotation. A tenant dependency failure preserves the existing refresh session, which may be retried after recovery. Tenant errors expose only details[].source=tenant and details[].operation=tenantService.getByUserId; technical context and debug are omitted.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  example: refresh_token_value
      responses:
        '200':
          description: New tokens generated
          headers:
            X-RateLimit-Limit:
              description: Configured per-IP refresh requests per minute.
              schema:
                type: integer
                minimum: 1
            X-RateLimit-Remaining:
              description: Per-IP refresh requests remaining in the current window.
              schema:
                type: integer
                minimum: 0
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StandardResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthRefreshResponseData'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
[...]
